<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Distribuidora</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Sistema de Distribuidora</h1>
    <nav>
        <ul>
            <li><a href="/produtos">Cadastro de Produtos</a></li>
            <li><a href="/vendas">Registro de Vendas</a></li>
            <li><a href="/relatorio">Relatório Diário</a></li>
        </ul>
    </nav>
</body>
</html>
